body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

section {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Your existing styles for statistic cards */
.statistic-card {
    background: linear-gradient(to right, #ffffff, #e5e5e5);
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1 0 300px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.statistic-card:hover {
    transform: scale(1.05);
}

.statistic-card h3 {
    color: #3498db;
}

/* Additional styles for contact information */
.contact-intro {
    text-align: center;
}

.contact-info {
    text-align: center;
    margin: 20px;
}

.contact-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 50%; /* Make the image round */
}

.contact-item {
    text-align: center;
}

h3, p {
    margin: 5px 0;
}

footer {
    background: linear-gradient(to right, #141e30, #243b55);
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
