body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 10px;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.box {
    width: 120px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: #2c3e50;
}

.box i {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

section {
    padding: 20px;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.texto{
    max-width: 800px;
    margin: 0 auto;
}

.texto p {
    text-align: justify;
}

.box-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px; /* Add margin at the top */
    margin-bottom: 20px; /* Add margin at the bottom */
}

.box-group .box {
    width: calc(33.33% - 20px);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: background-color 0.3s;
    height: 200px; /* Adjusted height to make the boxes larger */
    display: inline-block;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #ccc; /* Added border style */
}

.box {
    width: 100%;
    max-width: 300px; /* Set a maximum width for the boxes */
    margin: 10px auto 0; /* Adjusted margin for top (10px) and centered horizontally */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: background-color 0.3s;
}

.box-group .box:hover {
    background-color: #6488ad;
    cursor: default;
}
