body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #2c3e50;
}

section {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #ecf0f1;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.progress-bar {
    background-color: #3498db;
    height: 20px;
    border-radius: 5px;
    width: 0; /* Initial width set to 0 */
    transition: width 0.3s ease; /* Add smooth transition */
}

.progress-text {
    margin-top: 5px;
    color: #333;
}

.request-button {
    background-color: #2ecc71;
    color: #ecf0f1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.request-button:hover {
    background-color: #27ae60;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}